html, body {
	position: relative;
	height: 100%;
}

body>* {
	position: absolute;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 100px;
}

#support {
	display: none;
}

#support.no {
	display: block;
}

#roomName {
	position: absolute;

	left: 50%;

	z-index: 1000;
}

#roomName.done {
	display: none;
}

#call {
	display: none;
}

#call.init,
#call.disconnected,
#call.waiting,
#call.connected {
	display: block;
}

#call video {
	position: absolute;
	height: 100%;
}

#call.init video {
	animation: initLocalVideo;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;

	-webkit-animation: initLocalVideo;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: initLocalVideo;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-fill-mode: forwards;
}

@keyframes initLocalVideo {
	  0% { filter: blur(80px) opacity( 0%); }
	 66% { filter: blur(80px) opacity( 0%); }
	100% { filter: blur(20px) opacity(50%); }
}

@-webkit-keyframes initLocalVideo {
	  0% { -webkit-filter: blur(80px) opacity( 0%); }
	 66% { -webkit-filter: blur(80px) opacity( 0%); }
	100% { -webkit-filter: blur(20px) opacity(50%); }
}

@-moz-keyframes initLocalVideo {
	  0% { -moz-filter: blur(80px) opacity( 0%); }
	 66% { -moz-filter: blur(80px) opacity( 0%); }
	100% { -moz-filter: blur(20px) opacity(50%); }
}

#call.disconnected video,
#call.waiting video,
#call.connected video {
	-webkit-transition: all 1s -webkit-transform;
	   -moz-transition: all 1s transform;
	        transition: all 1s transform;
}

#call.disconnected video,
#call.waiting video {
	        filter: blur(20px) opacity(50%);
	-webkit-filter: blur(20px) opacity(50%);
	   -moz-filter: blur(20px) opacity(50%);
}

#call.connected video {
	        filter: blur(0px) opacity(100%);
	-webkit-filter: blur(0px) opacity(100%);
	   -moz-filter: blur(0px) opacity(100%);
}

#call button {
	display: none;

	position: absolute;
	left: 50%;

	z-index: 1000;
}

#call.waiting button,
#call.connected button {
	display: block;
}

