h1 {
	font-size: 100px;
}

#notSupport {
	display: none;
}

#notSupport.yes {
	display: block;
}

#requestPermission.pass {
	display: none;
}

#main {
	display: none;
}

#main.do {
	display: block;
}

