h1 {
	font-size: 100px;
}

#support {
	display: none;
}

#support.no {
	display: block;
}

#main {
	display: none;
}

#main.okay {
	display: block;
}

h1 {
	filter: blur(0px);
	animation: fadein linear 3.5s;
}

@keyframes fadein {
	0% { filter: blur(10px);}
	28% { filter: blur(10px);}
	100% { filter: blur(0px);}
}

